page-chat {
  .input-wrap {
    padding: 0 5px;
    ion-textarea {
      position: static;

    }
    ion-col.col {
      padding: 0;
    }
    button {
      width: 100%;
      height: 55px;
      font-size: 1.3em;
      margin: 0;
    }
    textarea {
      border-bottom: 1px;
      border-style: solid;
    }
  }

  .message-wrap {
    .message {
      position: relative;
      .msg-detail {
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-content {
          position: relative;
          border-radius: 5px;
          padding: 10px;
          border: 1px solid #ddd;
          color: #fff;
          background-color: rgb(72, 63, 238);
          width: auto;
          max-width: 80%;
        }

      }
    }

    .message.left {
      .msg-content {
        float: left;
      }
    }
    
    .message.right {
      .msg-content {
        background-color: rgb(247, 158, 43);
        float: right;
      }
    }

  }
}
