<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{(toUserProfile | async)?.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div class="message-wrap">
    <div *ngFor="let message of messages"
      class="message"
      [class.right]=" message.owner === fromId "
      [class.left]=" message.owner === toId "
    >
      <div class="msg-detail">
        <div class="msg-content">
          <p class="line-breaker ">{{message.body}}</p>
        </div>
      </div>

    </div>
  </div>
      
</ion-content>

<ion-footer no-border>
  <ion-grid class="input-wrap">
    <ion-row>
      <ion-col col-10>
        <ion-textarea
          placeholder="Type Message"
          [(ngModel)]="msgContent"
          (keyup.enter)="sendMessage()"
        >
        </ion-textarea>  
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="sendMessage()">
          <ion-icon name="ios-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>