
<ion-header>

  <ion-navbar color="primary">
    <ion-title>listing-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      <h3>{{listing.user}}<br/></h3>
      <h1>{{listing.category.toUpperCase()}}</h1>
    </ion-card-header>
    <ion-card-content>
      Quantity: {{listing.quantity + ' ' + listing.unit + 's'}}
    </ion-card-content>
    <ion-item>
      <h2><strong>Offers</strong></h2>
    </ion-item>  
    <ion-list>
      <ion-card *ngFor="let demand of demands$ | async" color="secondary" (click)="onDemandCardClick(demand.user)">
        <ion-card-header>
          {{demand.user}}<br/>
          <h1>{{demand.quantity + ' ' + demand.unit + 's'}}</h1>
        </ion-card-header>
      </ion-card>
    </ion-list>
  </ion-card>
</ion-content>
