

<!-- <ion-header>
  
  <ion-navbar color="primary">
    <ion-buttons >
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->


<ion-content padding>
  <!-- <ion-content *ngIf='userIsReady'>
    <button ion-button block (click)="toForm(false)">Sell</button>
    <button ion-button block (click)="toForm(true)">Buy</button>
  </ion-content> -->
  
  
  <div>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="buy">
        BUY
      </ion-segment-button>
      <ion-segment-button value="sell">
        SELL
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="tab">
    
    <ion-list *ngSwitchCase="'buy'">
      <ion-card *ngFor="let buyListing of buyListings$ | async" color="primary">
        <ion-card-header>
          I'm looking for {{buyListing.category}}
        </ion-card-header>
        <ion-card-content>
          I need {{buyListing.quantity}} {{buyListing.unit}}s of {{buyListing.category}},
          with a price from {{buyListing.priceMin}} to {{buyListing.priceMax}}
        </ion-card-content>
      </ion-card>
    </ion-list>
    
    <ion-list *ngSwitchCase="'sell'">
      <ion-card *ngFor="let sellListing of sellListings$ | async" (click)="onCardClicked(sellListing)" color="primary">
        <ion-card-header>
          I'm looking for {{sellListing.category}}
        </ion-card-header>
        <ion-card-content>
          I'm selling {{sellListing.quantity}} {{sellListing.unit}}s of {{sellListing.category}},
          with a price from {{sellListing.priceMin}} to {{sellListing.priceMax}}
        </ion-card-content>
      </ion-card>
    </ion-list>
    
    <ion-fab right bottom style="margin:12px;position:fixed;">
      <button ion-fab color="danger" (click)="presentActionSheet()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    
    <ion-input type="text" [(ngModel)]="user.userId" placeholder="user id"></ion-input>
    <ion-input type="text" [(ngModel)]="user.name" placeholder="username"></ion-input>
    
    {{user | json}}
    <!-- <ion-card>
      <img [src]="user.picture"/>
      <ion-card-content>
        <ion-card-title>
          Welcome {{user.name}}!
          </ion-card-title>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>
