
<ion-menu [content]="appContent" type='overlay'>
    <ion-content>
      <ion-list no-lines>
        <ion-item class='sideMenuItem'>
          <div class='sideMenuHeader'>
            <span class='sideMenuHeaderText'>Main Menu</span>
          </div>
        </ion-item>
        <ion-item>
          <button ion-button full>Contacts</button>
        </ion-item>      
        <ion-footer>
          <button ion-button full (click)="logout()" style="margin-bottom:30px;padding:5px;">Logout</button>
        </ion-footer>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-nav #appContent [root]="rootPage"></ion-nav>
