
<ion-header>

  <ion-navbar>
    <ion-title>New Listing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item >New {{formType?'Buy':'Sell'}} Listing</ion-item>
  <ion-item>
    <ion-label color='primary'>Category</ion-label>
    <ion-select [(ngModel)]="listing.category">
      <ion-option value="apples">Apples</ion-option>
      <ion-option value="oranges">Oranges</ion-option>
      <ion-option value="bananas">Bananas</ion-option>
      <ion-option value="melons">Melons</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color='primary'>Quantity</ion-label>
    <ion-input type="number" [(ngModel)]="listing.quantity" type="text"></ion-input>
    <ion-select [(ngModel)]="listing.unit" placeholder='Unit'>
      <ion-option value="kilo">Kilos</ion-option>
      <ion-option value="ton">Tons</ion-option>
      <ion-option value="container">Containers</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color='primary'>Price</ion-label>
    <ion-input type="number" [(ngModel)]="listing.priceMin" type="text" placeholder='From'></ion-input>
    <ion-input type="number" [(ngModel)]="listing.priceMax" type="text" placeholder='To'></ion-input>
  </ion-item>
  {{listing | json}}
  <button ion-button block clear style="margin-top: 20px;" (click)="addListing(listing)">Add Listing</button>
</ion-content>
